<div class="tabs">
  <ul>
    <li (click)="programCoursesTabSetToActive()" [ngClass]="{'is-active': isProgramCourseTabActive}">
      <a>Courses</a>
    </li>
    <li (click)="programStrandsTabSetToActive()" [ngClass]="{'is-active': !isProgramCourseTabActive}">
      <a>Strands</a>
    </li>
  </ul>
</div>


<div class="columns is-multiline">
  <div class="column is-one-third" *ngFor="let programDocument of programCollection">
    <div class="card">
      <div class="card-image">
        <figure class="image" (click)="openProgramsCardDetail(programDocument.id)">
          <img src="{{programDocument.program_photo_url}}" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img class="is-rounded" src="{{programDocument.program_author_photo_url}}">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-6">{{programDocument.program_author_name}}</p>
            <!-- <p class="subtitle is-6">{{news.news_author_email}}</p> -->
          </div>
        </div>
        <div class="content">
          <h4 class="title is-4">
            <a (click)="openProgramsCardDetail(programDocument.id)">{{programDocument.program_acronym}}</a>
          </h4>
          <p>{{programDocument.program_name | slice: 0: 145}}</p>
          <p>{{programDocument.program_description | slice: 0: 300}}</p>
          <span class="button is-link modal-button" (click)="openUpdateChooseActionDialog(programDocument.id)">
            <span class="icon">
              <i class="fa fa-pencil"></i>
            </span>
            <span>Update</span>
          </span>
          <span class="button is-danger modal-button is-pulled-right" (click)="openProgramConfirmDeleteDialog(programDocument.id)">
            <span class="icon">
              <i class="fa fa-trash"></i>
            </span>
            <span>Delete</span>
          </span>
        </div>
      </div>
    </div>
  </div>








  <form (ngSubmit)="onSubmitAddSubject()" ngNativeValidate>
    <div class="modal" [ngClass]="{'is-active': isSubjectFormAddOpen}">

      <div class="modal-background" (click)="closeSubjectFormAdd()"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Add a subject</p>
          <button class="delete" type="button" aria-label="close" (click)="closeSubjectFormAdd()"></button>
        </header>

        <section class="modal-card-body">
          <div class="field">
            <label class="label">Grade</label>
            <div class="control has-icons-left">
              <div class="select">
                <select name="grade" [(ngModel)]="grade" required>
                  <option value="" disabled>Grade</option>
                  <option value="grade_11">Grade 11</option>
                  <option value="grade_12">Grade 12</option>

                </select>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Term</label>
            <div class="control has-icons-left">
              <div class="select">
                <select name="term" [(ngModel)]="term" required>
                  <option value="" disabled>Term</option>
                  <option value="1st_term">1st term</option>
                  <option value="2nd_term">2nd term</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Subject name</label>
            <div class="control">
              <input class="input" name="subject_name" type="text" placeholder="Subject name here" [(ngModel)]="subjectDocument.subject_name"
                maxlength="300" required>
            </div>
          </div>

          <div class="field">
            <label class="label">Required duration</label>
            <div class="control">
              <input class="input" name="subject_required_duration" type="number" placeholder="Required duration here" [(ngModel)]="subjectDocument.subject_required_duration"
                required>
            </div>
          </div>

          <div class="field">
            <label class="label">Duration declared</label>
            <div class="control">
              <input class="input" name="subject_duration_declared" type="number" placeholder="Duration declared here" [(ngModel)]="subjectDocument.subject_duration_declared"
                required>
            </div>
          </div>

        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" type="submit">Add</button>
          <button class="button" type="button" (click)="closeSubjectFormAdd()">Cancel</button>
        </footer>
      </div>
    </div>
  </form>









  <form (ngSubmit)="onSubmitAddCourse()" ngNativeValidate>
      <div class="modal" [ngClass]="{'is-active': isCourseFormAddOpen}">
  
        <div class="modal-background" (click)="closeCourseFormAdd()"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Add a course</p>
            <button class="delete" type="button" aria-label="close" (click)="closeCourseFormAdd()"></button>
          </header>
          <section class="modal-card-body">
            <div class="field">
              <label class="label">Year level</label>
              <div class="control has-icons-left">
                <div class="select">
                  <select name="year_level" [(ngModel)]="year_level" required>
                    <option value="" disabled>Year level</option>
                    <option value="1st_year">1st year</option>
                    <option value="2nd_year">2nd year</option>
                    <option value="3rd_year">3rd year</option>
                    <option value="4th_year">4th year</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">Term</label>
              <div class="control has-icons-left">
                <div class="select">
                  <select name="term" [(ngModel)]="term" required>
                    <option value="" disabled>Term</option>
                    <option value="1st_term">1st term</option>
                    <option value="2nd_term">2nd term</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">Course code</label>
              <div class="control">
                <input class="input" name="course_code" type="text" placeholder="Course code here" [(ngModel)]="courseDocument.course_code"
                  maxlength="300" required>
              </div>
            </div>
  
            <div class="field">
              <label class="label">Course name</label>
              <div class="control">
                <input class="input" name="course_name" type="text" placeholder="Course name here" [(ngModel)]="courseDocument.course_name"
                  required>
              </div>
            </div>
            <div class="field">
              <label class="label">Course units</label>
              <div class="control">
                <input class="input" name="course_units" type="number" placeholder="Number of units here" [(ngModel)]="courseDocument.course_units"
                  required>
              </div>
            </div>
  
            <div class="field">
              <label class="label">Pre-requisite(s)</label>
              <div class="control">
                <textarea class="textarea" name="course_pre_requisites" rows="2" type="text" placeholder="Pre-requisite(s) here"
                  [(ngModel)]="courseDocument.course_pre_requisites"></textarea>
              </div>
            </div>
  
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success" type="submit">Add</button>
            <button class="button" type="button" (click)="closeCourseFormAdd()">Cancel</button>
          </footer>
        </div>
      </div>
    </form>



    <form (ngSubmit)="onSubmitUpdateCourse()" ngNativeValidate>
      <div class="modal" [ngClass]="{'is-active': isCoursesDialogUpdateOpen}">
  
        <div class="modal-background" (click)="closeCoursesDialogUpdate()"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Update a course</p>
            <button class="delete" type="button" aria-label="close" (click)="closeCoursesDialogUpdate()"></button>
          </header>
          <section class="modal-card-body">
            <div class="field">
              <label class="label">Year level</label>
              <div class="control has-icons-left">
                <div class="select">
                  <select name="year_level" [(ngModel)]="year_level" required>
                    <option value="" disabled>Year level</option>
                    <option value="1st_year">1st year</option>
                    <option value="2nd_year">2nd year</option>
                    <option value="3rd_year">3rd year</option>
                    <option value="4th_year">4th year</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">Term</label>
              <div class="control has-icons-left">
                <div class="select">
                  <select name="term" [(ngModel)]="term" required>
                    <option value="" disabled>Term</option>
                    <option value="1st_term">1st term</option>
                    <option value="2nd_term">2nd term</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">Course code</label>
              <div class="control">
                <input class="input" name="course_code" type="text" placeholder="Course code here" [(ngModel)]="courseDocument.course_code"
                  maxlength="300" required>
              </div>
            </div>
  
            <div class="field">
              <label class="label">Course name</label>
              <div class="control">
                <input class="input" name="course_name" type="text" placeholder="Course name here" [(ngModel)]="courseDocument.course_name"
                  required>
              </div>
            </div>
            <div class="field">
              <label class="label">Course units</label>
              <div class="control">
                <input class="input" name="course_units" type="number" placeholder="Number of units here" [(ngModel)]="courseDocument.course_units"
                  required>
              </div>
            </div>
  
            <div class="field">
              <label class="label">Pre-requisite(s)</label>
              <div class="control">
                <textarea class="textarea" name="course_pre_requisites" rows="2" type="text" placeholder="Pre-requisite(s) here"
                  [(ngModel)]="courseDocument.course_pre_requisites"></textarea>
              </div>
            </div>
  
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success" type="submit">Update</button>
            <button class="button" type="button" (click)="closeCoursesDialogUpdate()">Cancel</button>
          </footer>
        </div>
      </div>
    </form>



    <form (ngSubmit)="onSubmitUpdateSubject()" ngNativeValidate>
      <div class="modal" [ngClass]="{'is-active': isSubjectsDialogUpdateOpen}">
  
        <div class="modal-background" (click)="closeSubjectsDialogUpdate()"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Update a course</p>
            <button class="delete" type="button" aria-label="close" (click)="closeSubjectsDialogUpdate()"></button>
          </header>
        
          <section class="modal-card-body">
            <div class="field">
              <label class="label">Grade</label>
              <div class="control has-icons-left">
                <div class="select">
                  <select name="grade" [(ngModel)]="grade" required>
                    <option value="" disabled>Grade</option>
                    <option value="grade_11">Grade 11</option>
                    <option value="grade_12">Grade 12</option>

                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">Term</label>
              <div class="control has-icons-left">
                <div class="select">
                  <select name="term" [(ngModel)]="term" required>
                    <option value="" disabled>Term</option>
                    <option value="1st_term">1st term</option>
                    <option value="2nd_term">2nd term</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">Subject name</label>
              <div class="control">
                <input class="input" name="subject_name" type="text" placeholder="Subject name here" [(ngModel)]="subjectDocument.subject_name"
                  maxlength="300" required>
              </div>
            </div>

            <div class="field">
              <label class="label">Required duration</label>
              <div class="control">
                <input class="input" name="subject_required_duration" type="number" placeholder="Required duration here" [(ngModel)]="subjectDocument.subject_required_duration"
                  required>
              </div>
            </div>

            <div class="field">
              <label class="label">Duration declared</label>
              <div class="control">
                <input class="input" name="subject_duration_declared" type="number" placeholder="Duration declared here" [(ngModel)]="subjectDocument.subject_duration_declared"
                  required>
              </div>
            </div>

          </section>
          <footer class="modal-card-foot">
            <button class="button is-success" type="submit">Update</button>
            <button class="button" type="button" (click)="closeSubjectsDialogUpdate()">Cancel</button>
          </footer>
        </div>
      </div>
    </form>










  <div class="modal" [ngClass]="{'is-active': isProgramConfirmDeleteDialogOpen}">
    <div class="modal-background" (click)="closeProgramConfirmDeleteDialog()"></div>
    <div class="modal-card" *ngIf="programDocument">
      <header class="modal-card-head">
        <p class="modal-card-title">Are you sure want to permanently delete this post?</p>
        <button class="delete" type="button" aria-label="close" (click)="closeProgramConfirmDeleteDialog()"></button>
      </header>
      <section class="modal-card-body">
        <div class="card">

          <div class="card-image">
            <figure class="image">
              <img src="{{programDocument.program_photo_url}}" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img class="is-rounded" src="{{programDocument.program_author_photo_url}}">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-6">{{programDocument.program_author_name}}{{programDocument.program_photo_name}}</p>
                <!-- <p class="subtitle is-6">{{news.news_author_email}}</p> -->
                <p class="subtitle is-6">user type</p>
              </div>
            </div>
            <div class="content">
              <h4 class="title is-4">
                <a>{{programDocument.program_acronym}}</a>
              </h4>
              <p>{{programDocument.program_name | slice: 0: 145}}</p>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-danger" type="submit" (click)="deleteProgramDocument()">Yes</button>
        <button class="button" type="button" (click)="closeProgramConfirmDeleteDialog()">No</button>
      </footer>
    </div>
  </div>

  <!--Modal create and edit-->
  <form (ngSubmit)="onSubmitUpdateProgramDocument()" ngNativeValidate>
    <div class="modal" [ngClass]="{'is-active': isProgramUpdateDialogOpen}">
      <div class="modal-background" (click)="closeProgramDocumentDialogUpdate()"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Update program</p>
          <button class="delete" type="button" aria-label="close" (click)="closeProgramDocumentDialogUpdate()"></button>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <label class="label">Acronym</label>
            <div class="control">
              <input class="input" name="program_acronym" type="text" placeholder="Acronym here" [(ngModel)]="programDocument.program_acronym"
                maxlength="300" required>
            </div>
          </div>
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" name="program_name" type="text" placeholder="Name here" [(ngModel)]="programDocument.program_name"
                required>
            </div>
          </div>
          <div [hidden]="!isProgramImageAvailable" class="field">
            <label class="label">Photo</label>
            <figure class="image is-128x128">
              <button class="delete" type="button" aria-label="close" (click)="hideImage()"></button>
              <img src="{{programDocument.program_photo_url}}">
            </figure>
          </div>
          <div [hidden]="isProgramImageAvailable" class="field">
            <label class="label">Photo</label>
            <input type="file" accept="image/*" name="file" (change)="onChangeImageHandler($event)">
          </div>
          <div class="field" *ngIf="uploadPercent">
            <progress class="progress is-success show-value" value="{{uploadPercent | async}}" max="100">{{uploadPercent
              | async}}%</progress>
          </div>
          <div class="field">
            <label class="label">Description</label>
            <div class="control">
              <textarea class="textarea" name="program_page_url" rows="7" type="text" placeholder="Description here"
                [(ngModel)]="programDocument.program_description" required></textarea>
            </div>
          </div>

        </section>
        <footer class="modal-card-foot">
          <button [disabled]="isProgramDialogFormButtonDisabled" class="button is-success" type="submit">Update</button>
          <button class="button" type="button" (click)="closeProgramDocumentDialogUpdate()">Cancel</button>
        </footer>
      </div>
    </div>
  </form>

  <div class="modal" [ngClass]="{'is-active': isUpdateChooseActionDialogOpen}">
    <div class="modal-background" (click)="closeUpdateChooseActionDialog()"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Please choose which action you would like to take</p>
        <button class="delete" type="button" aria-label="close" (click)="closeUpdateChooseActionDialog()"></button>
      </header>
      <section class="modal-card-body">
        <div class="control">
          <label class="radio">
            <input type="radio" name="update_course" [checked]="isUpdateCourseChosen" (click)="onUpdateCourseClicked()">
            Update the course
          </label>
          <label class="radio" *ngIf="isProgramCourseTabActive">
            <input type="radio" name="add_subject" [checked]="!isUpdateCourseChosen" (click)="onUpdateCourseNotClicked()">
            Add a course
          </label>
          <label class="radio" *ngIf="!isProgramCourseTabActive">
            <input type="radio" name="add_subject" [checked]="!isUpdateCourseChosen" (click)="onUpdateCourseNotClicked()">
            Add a subject
          </label>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" type="button" (click)="updateCourseWrapper()">Choose</button>
        <button class="button" type="button" (click)="closeUpdateChooseActionDialog()">Cancel</button>
      </footer>
    </div>
  </div>
</div>

<div class="modal" [ngClass]="{'is-active': isProgramsCardActive}">
  <div class="modal-background" (click)="closeProgramsCardDetail()"></div>
  <div class="modal-content is-tiny">
    <!-- content -->
    <div class="card" *ngIf="programDocument">
      <div class="card-image">
        <figure class="image">
          <img src="{{programDocument.program_photo_url}}" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img class="is-rounded" src="{{programDocument.program_author_photo_url}}">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-6">{{programDocument.program_author_name}}</p>
            <!-- <p class="subtitle is-6">{{news.news_author_email}}</p> -->
            <!-- <p class="subtitle is-6">user type</p> -->
          </div>
        </div>
        <div class="content">
          <h4 class="title is-4">
            <a>{{programDocument.program_acronym}}</a>
          </h4>
          <p>{{programDocument.program_name | slice: 0: 145}}</p>
          <p>{{programDocument.program_description}}</p>
        </div>
        <div class="tabs" *ngIf="isProgramCourseTabActive">
          <ul>
            <li [ngClass]="{'is-active': is1styearTabClicked}" (click)="firstYearTabClicked()"><a>1st year</a></li>
            <li [ngClass]="{'is-active': is2ndyearTabClicked}" (click)="secondYearTabClicked()"><a>2nd year</a></li>
            <li [ngClass]="{'is-active': is3rdyearTabClicked}" (click)="thirdYearTabClicked()"><a>3rd year</a></li>
            <li [ngClass]="{'is-active': is4thyearTabClicked}" (click)="fourthYearTabClicked()"><a>4th year</a></li>
          </ul>
        </div>

        <div *ngIf="is1styearTabClicked">
          <table class="table is-hoverable is-fullwidth" *ngIf="firstYearFirstTermCollection?.length > 0">
            <thead>
              <tr>

                <th>COURSE CODE</th>
                <th>FIRST YEAR, FIRST TERM</th>
                <th>UNITS</th>
                <th>PRE-REQUISITE(S)</th>

              </tr>
            </thead>
            <tfoot>
              <tr>

                <th>COURSE CODE</th>
                <th>FIRST YEAR, FIRST TERM</th>
                <th>UNITS</th>
                <th>PRE-REQUISITE(S)</th>
                <!-- <th>Options</th> -->
              </tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let subject of firstYearFirstTermCollection">

                <th><a href="#">{{subject.course_code}}</a></th>
                <td>{{subject.course_name}}</td>
                <td>{{subject.course_units}}</td>
                <td>{{subject.course_pre_requisites}}</td>
                
                  <div class="buttons">
                    <a (click)="openCoursesDialogUpdate( '1st_year', '1st_term', subject.id)" class="button is-success">
                      <span class="icon">
                        <i class="fa fa-pencil"></i>
                      </span>
                    </a>
                    <a (click)="deleteCourse('1st_year', '1st_term', subject.id)" class="button is-danger">
                      <span class="icon">
                        <i class="fa fa-trash"></i>
                      </span>
                    </a>
                  </div>
          
              </tr>
            </tbody>
          </table>
          <br>
          <table class="table is-hoverable is-fullwidth" *ngIf="firstYearSecondTermCollection?.length > 0">
            <thead>
              <tr>

                <th>COURSE CODE</th>
                <th>FIRST YEAR, SECOND TERM</th>
                <th>UNITS</th>
                <th>PRE-REQUISITE(S)</th>

              </tr>
            </thead>
            <tfoot>
              <tr>

                <th>COURSE CODE</th>
                <th>FIRST YEAR, SECOND TERM</th>
                <th>UNITS</th>
                <th>PRE-REQUISITE(S)</th>
                <!-- <th>Options</th> -->
              </tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let subject of firstYearSecondTermCollection">

                <th><a href="#">{{subject.course_code}}</a></th>
                <td>{{subject.course_name}}</td>
                <td>{{subject.course_units}}</td>
                <td>{{subject.course_pre_requisites}}</td>
                <div class="buttons">
                  <a (click)="openCoursesDialogUpdate( '1st_year', '2nd_term', subject.id)" class="button is-success">
                    <span class="icon">
                      <i class="fa fa-pencil"></i>
                    </span>
                  </a>
                  <a (click)="deleteCourse('1st_year', '2nd_term', subject.id)" class="button is-danger">
                    <span class="icon">
                      <i class="fa fa-trash"></i>
                    </span>
                  </a>
                </div>
              </tr>
            </tbody>
          </table>


        </div>




        <div *ngIf="is2ndyearTabClicked">
          <table class="table is-hoverable is-fullwidth" *ngIf="secondYearFirstTermCollection?.length > 0">
            <thead>
              <tr>

                <th>COURSE CODE</th>
                <th>SECOND YEAR, FIRST TERM</th>
                <th>UNITS</th>
                <th>PRE-REQUISITE(S)</th>

              </tr>
            </thead>
            <tfoot>
              <tr>

                <th>COURSE CODE</th>
                <th>SECOND YEAR, FIRST TERM</th>
                <th>UNITS</th>
                <th>PRE-REQUISITE(S)</th>
                <!-- <th>Options</th> -->
              </tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let subject of secondYearFirstTermCollection">

                <th><a href="#">{{subject.course_code}}</a></th>
                <td>{{subject.course_name}}</td>
                <td>{{subject.course_units}}</td>
                <td>{{subject.course_pre_requisites}}</td>
                <div class="buttons">
                  <a (click)="openCoursesDialogUpdate( '2nd_year', '1st_term', subject.id)" class="button is-success">
                    <span class="icon">
                      <i class="fa fa-pencil"></i>
                    </span>
                  </a>
                  <a (click)="deleteCourse('2nd_year', '1st_term', subject.id)" class="button is-danger">
                    <span class="icon">
                      <i class="fa fa-trash"></i>
                    </span>
                  </a>
                </div>
              </tr>
            </tbody>
          </table>
          <br>
          <table class="table is-hoverable is-fullwidth" *ngIf="secondYearSecondTermCollection?.length > 0">
            <thead>
              <tr>

                <th>COURSE CODE</th>
                <th>SECOND YEAR, SECOND TERM</th>
                <th>UNITS</th>
                <th>PRE-REQUISITE(S)</th>

              </tr>
            </thead>
            <tfoot>
              <tr>

                <th>COURSE CODE</th>
                <th>SECOND YEAR, SECOND TERM</th>
                <th>UNITS</th>
                <th>PRE-REQUISITE(S)</th>
                <!-- <th>Options</th> -->
              </tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let subject of secondYearSecondTermCollection">

                <th><a href="#">{{subject.course_code}}</a></th>
                <td>{{subject.course_name}}</td>
                <td>{{subject.course_units}}</td>
                <td>{{subject.course_pre_requisites}}</td>
                <div class="buttons">
                  <a (click)="openCoursesDialogUpdate( '2nd_year', '2nd_term', subject.id)" class="button is-success">
                    <span class="icon">
                      <i class="fa fa-pencil"></i>
                    </span>
                  </a>
                  <a (click)="deleteCourse('2nd_year', '2nd_term', subject.id)" class="button is-danger">
                    <span class="icon">
                      <i class="fa fa-trash"></i>
                    </span>
                  </a>
                </div>
              </tr>
            </tbody>
          </table>


        </div>




        <div *ngIf="is3rdyearTabClicked">
          <table class="table is-hoverable is-fullwidth" *ngIf="thirdYearFirstTermCollection?.length > 0">
            <thead>
              <tr>

                <th>COURSE CODE</th>
                <th>THIRD YEAR, FIRST TERM</th>
                <th>UNITS</th>
                <th>PRE-REQUISITE(S)</th>

              </tr>
            </thead>
            <tfoot>
              <tr>

                <th>COURSE CODE</th>
                <th>THIRD YEAR, FIRST TERM</th>
                <th>UNITS</th>
                <th>PRE-REQUISITE(S)</th>
                <!-- <th>Options</th> -->
              </tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let subject of thirdYearFirstTermCollection">

                <th><a href="#">{{subject.course_code}}</a></th>
                <td>{{subject.course_name}}</td>
                <td>{{subject.course_units}}</td>
                <td>{{subject.course_pre_requisites}}</td>
                <div class="buttons">
                  <a (click)="openCoursesDialogUpdate( '3rd_year', '1st_term', subject.id)" class="button is-success">
                    <span class="icon">
                      <i class="fa fa-pencil"></i>
                    </span>
                  </a>
                  <a (click)="deleteCourse('3rd_year', '1st_term', subject.id)" class="button is-danger">
                    <span class="icon">
                      <i class="fa fa-trash"></i>
                    </span>
                  </a>
                </div>
              </tr>
            </tbody>
          </table>
          <br>
          <table class="table is-hoverable is-fullwidth" *ngIf="thirdYearSecondTermCollection?.length > 0">
            <thead>
              <tr>

                <th>COURSE CODE</th>
                <th>THIRD YEAR, SECOND TERM</th>
                <th>UNITS</th>
                <th>PRE-REQUISITE(S)</th>

              </tr>
            </thead>
            <tfoot>
              <tr>

                <th>COURSE CODE</th>
                <th>THIRD YEAR, SECOND TERM</th>
                <th>UNITS</th>
                <th>PRE-REQUISITE(S)</th>
                <!-- <th>Options</th> -->
              </tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let subject of thirdYearSecondTermCollection">

                <th><a href="#">{{subject.course_code}}</a></th>
                <td>{{subject.course_name}}</td>
                <td>{{subject.course_units}}</td>
                <td>{{subject.course_pre_requisites}}</td>
                <div class="buttons">
                  <a (click)="openCoursesDialogUpdate( '3rd_year', '2nd_term', subject.id)" class="button is-success">
                    <span class="icon">
                      <i class="fa fa-pencil"></i>
                    </span>
                  </a>
                  <a (click)="deleteCourse('3rd_year', '2nd_term', subject.id)" class="button is-danger">
                    <span class="icon">
                      <i class="fa fa-trash"></i>
                    </span>
                  </a>
                </div>
              </tr>
            </tbody>
          </table>
        </div>


        <div *ngIf="is4thyearTabClicked">
            <table class="table is-hoverable is-fullwidth" *ngIf="fourthYearFirstTermCollection?.length > 0">
              <thead>
                <tr>
  
                  <th>COURSE CODE</th>
                  <th>FOURTH YEAR, FIRST TERM</th>
                  <th>UNITS</th>
                  <th>PRE-REQUISITE(S)</th>
  
                </tr>
              </thead>
              <tfoot>
                <tr>
  
                  <th>COURSE CODE</th>
                  <th>FOURTH YEAR, FIRST TERM</th>
                  <th>UNITS</th>
                  <th>PRE-REQUISITE(S)</th>
                  <!-- <th>Options</th> -->
                </tr>
              </tfoot>
              <tbody>
                <tr *ngFor="let subject of fourthYearFirstTermCollection">
  
                  <th><a href="#">{{subject.course_code}}</a></th>
                  <td>{{subject.course_name}}</td>
                  <td>{{subject.course_units}}</td>
                  <td>{{subject.course_pre_requisites}}</td>
                  <div class="buttons">
                    <a (click)="openCoursesDialogUpdate( '4th_year', '1st_term', subject.id)" class="button is-success">
                      <span class="icon">
                        <i class="fa fa-pencil"></i>
                      </span>
                    </a>
                    <a (click)="deleteCourse('4th_year', '1st_term', subject.id)" class="button is-danger">
                      <span class="icon">
                        <i class="fa fa-trash"></i>
                      </span>
                    </a>
                  </div>
                </tr>
              </tbody>
            </table>
            <br>
            <table class="table is-hoverable is-fullwidth" *ngIf="fourthYearSecondTermCollection?.length > 0">
              <thead>
                <tr>
  
                  <th>COURSE CODE</th>
                  <th>FOURTH YEAR, SECOND TERM</th>
                  <th>UNITS</th>
                  <th>PRE-REQUISITE(S)</th>
  
                </tr>
              </thead>
              <tfoot>
                <tr>
  
                  <th>COURSE CODE</th>
                  <th>FOURTH YEAR, SECOND TERM</th>
                  <th>UNITS</th>
                  <th>PRE-REQUISITE(S)</th>
                  <!-- <th>Options</th> -->
                </tr>
              </tfoot>
              <tbody>
                <tr *ngFor="let subject of fourthYearSecondTermCollection">
  
                  <th><a href="#">{{subject.course_code}}</a></th>
                  <td>{{subject.course_name}}</td>
                  <td>{{subject.course_units}}</td>
                  <td>{{subject.course_pre_requisites}}</td>
                  <div class="buttons">
                    <a (click)="openCoursesDialogUpdate( '4th_year', '2nd_term', subject.id)" class="button is-success">
                      <span class="icon">
                        <i class="fa fa-pencil"></i>
                      </span>
                    </a>
                    <a (click)="deleteCourse('4th_year', '2nd_term', subject.id)" class="button is-danger">
                      <span class="icon">
                        <i class="fa fa-trash"></i>
                      </span>
                    </a>
                  </div>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tabs" *ngIf="!isProgramCourseTabActive">
            <ul>
              <li [ngClass]="{'is-active': isGrade11TabClicked}" (click)="grade11TabClicked()"><a>Grade 11</a></li>
              <li [ngClass]="{'is-active': isGrade12TabClicked}" (click)="grade12TabClicked()"><a>Grade 12</a></li>

            </ul>
          </div>

          <div *ngIf="isGrade11TabClicked">
            <table class="table is-hoverable is-fullwidth" *ngIf="grade11FirstTermCollection?.length > 0">
              <thead>
                <tr>
  
                  <th>1ST TERM SUBJECTS</th>
                  <th>REQUIRED DURATION</th>
                  <th>DURATION DECLARED</th>

  
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>1ST TERM SUBJECTS</th>
                  <th>REQUIRED DURATION</th>
                  <th>DURATION DECLARED</th>
                </tr>
              </tfoot>
              <tbody>
                <tr *ngFor="let subject of grade11FirstTermCollection">
  
                  <th><a href="#">{{subject.subject_name}}</a></th>
                  <td>{{subject.subject_required_duration}}</td>
                  <td>{{subject.subject_duration_declared}}</td>
                  <div class="buttons">
                    <a (click)="openSubjectsDialogUpdate( 'grade_11', '1st_term', subject.id)" class="button is-success">
                      <span class="icon">
                        <i class="fa fa-pencil"></i>
                      </span>
                    </a>
                    <a (click)="deleteSubject('grade_11', '1st_term', subject.id)" class="button is-danger">
                      <span class="icon">
                        <i class="fa fa-trash"></i>
                      </span>
                    </a>
                  </div>
                </tr>
              </tbody>
            </table>
            <br>
            <table class="table is-hoverable is-fullwidth" *ngIf="grade11SecondTermCollection?.length > 0">
              <thead>
                <tr>
  
                  <th>2ND TERM SUBJECTS</th>
                  <th>REQUIRED DURATION</th>
                  <th>DURATION DECLARED</th>
  
                </tr>
              </thead>
              <tfoot>
                <tr>
  
                  <th>2ND TERM SUBJECTS</th>
                  <th>REQUIRED DURATION</th>
                  <th>DURATION DECLARED</th>
                </tr>
              </tfoot>
              <tbody>
                <tr *ngFor="let subject of grade11SecondTermCollection">
  
                  <th><a href="#">{{subject.subject_name}}</a></th>
                  <td>{{subject.subject_required_duration}}</td>
                  <td>{{subject.subject_duration_declared}}</td>
                  <div class="buttons">
                    <a (click)="openSubjectsDialogUpdate( 'grade_11', '2nd_term', subject.id)" class="button is-success">
                      <span class="icon">
                        <i class="fa fa-pencil"></i>
                      </span>
                    </a>
                    <a (click)="deleteSubject('grade_11', '2nd_term', subject.id)" class="button is-danger">
                      <span class="icon">
                        <i class="fa fa-trash"></i>
                      </span>
                    </a>
                  </div>
                </tr>
              </tbody>
            </table>
          </div>




          <div *ngIf="isGrade12TabClicked">
            <table class="table is-hoverable is-fullwidth" *ngIf="grade12FirstTermCollection?.length > 0">
              <thead>
                <tr>
  
                  <th>1ST TERM SUBJECTS</th>
                  <th>REQUIRED DURATION</th>
                  <th>DURATION DECLARED</th>

  
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>1ST TERM SUBJECTS</th>
                  <th>REQUIRED DURATION</th>
                  <th>DURATION DECLARED</th>
                </tr>
              </tfoot>
              <tbody>
                <tr *ngFor="let subject of grade12FirstTermCollection">
  
                  <th><a href="#">{{subject.subject_name}}</a></th>
                  <td>{{subject.subject_required_duration}}</td>
                  <td>{{subject.subject_duration_declared}}</td>
                  <div class="buttons">
                    <a (click)="openSubjectsDialogUpdate( 'grade_12', '1st_term', subject.id)" class="button is-success">
                      <span class="icon">
                        <i class="fa fa-pencil"></i>
                      </span>
                    </a>
                    <a (click)="deleteSubject('grade_12', '1st_term', subject.id)" class="button is-danger">
                      <span class="icon">
                        <i class="fa fa-trash"></i>
                      </span>
                    </a>
                  </div>
                </tr>
              </tbody>
            </table>
            <br>
            <table class="table is-hoverable is-fullwidth" *ngIf="grade12SecondTermCollection?.length > 0">
              <thead>
                <tr>
  
                  <th>2ND TERM SUBJECTS</th>
                  <th>REQUIRED DURATION</th>
                  <th>DURATION DECLARED</th>
  
                </tr>
              </thead>
              <tfoot>
                <tr>
  
                  <th>2ND TERM SUBJECTS</th>
                  <th>REQUIRED DURATION</th>
                  <th>DURATION DECLARED</th>
                </tr>
              </tfoot>
              <tbody>
                <tr *ngFor="let subject of grade12SecondTermCollection">
  
                  <th><a href="#">{{subject.subject_name}}</a></th>
                  <td>{{subject.subject_required_duration}}</td>
                  <td>{{subject.subject_duration_declared}}</td>
                  <div class="buttons">
                    <a (click)="openSubjectsDialogUpdate( 'grade_12', '2nd_term', subject.id)" class="button is-success">
                      <span class="icon">
                        <i class="fa fa-pencil"></i>
                      </span>
                    </a>
                    <a (click)="deleteSubject('grade_12', '2nd_term', subject.id)" class="button is-danger">
                      <span class="icon">
                        <i class="fa fa-trash"></i>
                      </span>
                    </a>
                  </div>
                </tr>
              </tbody>
            </table>
          </div>
        <!--end card-->
      </div>
      <!-- end content -->
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="closeProgramsCardDetail()"></button>
  </div>




  <!-- <div class="modal" [ngClass]="{'is-active': isUpdateProgramActionOpen}">

  <div class="modal-background"  (click)="closeSubjectFormAdd()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Please choose which action you would like to take</p>
      <button class="delete" type="button" aria-label="close" (click)="closeSubjectFormAdd()"></button>
    </header>
    <section class="modal-card-body">
      <div class="control">
        <label class="radio">
          <input type="radio" name="attendance" [checked]="isAttendanceEnabled" (click)="enableAttendance()">
          Update course 
        </label>
        <label class="radio">
          <input type="radio" name="attendance" [checked]="!isAttendanceEnabled" (click)="disableAttendance()">
          Add subjects/courses 
        </label>
      </div>
      
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" type="submit">Add</button>
      <button class="button" type="button" (click)="closeSubjectFormAdd()">Cancel</button>
    </footer>
  </div>
</div> -->